.cart__container {
  display: flex;
  gap: 1.5rem;
  padding: 1rem;
  justify-content: center;
}

/* Cart */
.cart__item {
  display: grid;
  grid-template-columns: 6rem 1fr auto; /* 3 columnas */
  gap: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.cart__item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.cart__item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

.cart__item-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

.cart__item-quantity {
  font-size: 1rem;
  color: #555;
}

.cart__item-price {
  font-size: 1rem;
  color: #555;
}

.cart__buttons {
  display: flex;
  align-items: end;
  gap: 0.6rem;
}

.cart__btn {
  background-color: #f8b28b;
  color: black;
  border: none;
  border-radius: 0.5rem;
  padding: 0.2rem 0.4rem;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cart__btn:hover {
  background-color: #f4a261;
  transform: translateY(-0.2rem);
}

.cart__btn:focus {
  background-color: #f4a261;
  transform: translateY(-0.2rem);
}

.cart__btn:active {
  background-color: #d57e40;
  transform: translateY(0.2rem);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.cart__btn .material-symbols-outlined {
  vertical-align: middle;
}

.cart__btn-remove {
  background-color: red;
  color: white;
  border: none;
  padding: 0.2rem 0.4rem;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cart__btn-remove:hover {
  transform: translateY(-0.2rem);
  background-color: darkred;
}

.cart__btn-remove:focus {
  transform: translateY(-0.2rem);
  background-color: darkred;
}
/* End Cart */

/* Total */
.cart__price {
  padding: 2rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart__subtotal-price,
.cart__subtotal-costs,
.cart__total-price {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 0;
  width: 15rem;
}

.cart__total-price {
  font-size: 1.5rem;
  font-weight: bold;
}

.cart__total-divider {
  border-top: 1px solid #ccc;
  margin: 0.6rem 0;
}

.cart__btn-pay {
  margin-top: 0.5rem;
  padding: 0.3rem 2rem;
  background-color: #f8b28b;
  color: black;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cart__btn-pay:hover {
  background-color: #f4a261;
  transform: translateY(-0.2rem);
}

.cart__btn-pay:focus {
  background-color: #f4a261;
  transform: translateY(-0.2rem);
}

.cart__btn-pay:active {
  background-color: #d57e40;
  transform: translateY(0.2rem);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
/* End Total */

/* Messages */
.hidden {
  display: none;
}

.messageCart {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
}

.purchaseMade {
  background-color: #d4edda;
  color: #155724;
  border-left: 10px solid #28a745;
  padding: 2rem;
  border-radius: 0.3rem;
  display: inline-block;
  max-width: 100%;
  text-align: center;
  margin-left: 2rem;
}
/* End Messages */

/* Responsive */
@media (max-width: 768px) {
  .cart__container {
    flex-direction: column;
    gap: 1rem;
  }

  .cart__item-img {
    width: 100%;
    height: auto;
  }

  .cart__item-info {
    gap: 0.3rem;
  }

  .cart__item-title {
    font-size: 1rem;
  }

  .cart__item-quantity,
  .cart__item-price {
    font-size: 0.9rem;
  }

  .cart__total {
    padding: 1rem;
  }

  .cart__subtotal-info {
    flex-direction: column;
    align-items: flex-start;
  }

  .cart__total-subtotal,
  .cart__total-costs,
  .cart__total-price {
    font-size: 0.8rem;
  }
}
/* End Responsive */
