.outletContainer{
    margin:5rem 0;
    width:50rem;
    margin:auto;

}

.products__viewer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.product-price-before{
    color: rgb(151, 151, 151);
    text-decoration: line-through;
    font-size: small;}

.product-price-now{color: red;
    text-decoration: blink;
font-size: larger;}

/* Se copian estilos de product para ponerlo todo en rojo */
.carousel__info-btn {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    background-color: #f34b4b;
    color: black;
    text-decoration: none;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
/* Botones carousel */
.carousel-control-prev .material-symbols-outlined,
.carousel-control-next .material-symbols-outlined {
  font-size: 1rem;
  color: black;
  background-color: #f46161;
  padding: 0.5rem;
  border-radius: 1rem;
}

/* Botones +/-*/
/* Contenedor de botones */
.card__buttons {
  margin-top: auto;
  display: flex;
  gap: 0.3rem;
  justify-content: center;
}

/* Estilo de los botones */
.card__btn {
  background-color: #f46161;
  color: black;
  border: none;
  border-radius: 0.5rem;
  padding: 0.2rem 0.4rem;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Efecto al pasar el mouse */
.card__btn:hover {
  background-color: #f46161;
  transform: translateY(-0.2rem);
}

.card__btn:focus {
  background-color: #f46161;
  transform: translateY(-0.2rem);
}

/* Efecto al presionar */
.card__btn:active {
  background-color: #f34b4b;
  transform: translateY(0.2rem);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Iconos dentro de los botones */
.card__btn .material-symbols-outlined {
  vertical-align: middle;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}